main {
  margin: 90px 10px 10px 250px;
  width: calc(100% - 260px);
  height: 500px;
  border-radius: 5px;
}
.rtl {
  main {
    margin: 90px 250px 30px 10px;
  }
}
@media (max-width: 1000px) {
  main {
    margin: 90px 10px 10px 10px !important;
    width: calc(100% - 20px);
  }
}
@media (max-width: 450px) {
  main {
    margin: 80px 10px 20px 10px !important;
    width: calc(100% - 20px);
  }
}
